.boardWrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
}

@media (max-width: 1023px) {
  .boardWrapper {
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0.5rem;
    padding: 0.5rem;

    & > div {
      flex-basis: auto;
      max-width: 100%;
    }
  }
}
